[submodule "deps/alacritty"]
	path = deps/alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "deps/neovim"]
	path = deps/neovim
	url = https://github.com/neovim/neovim
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
